<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.spring.mapper.PurchaseMapper">

	<!-- 상품 검색-->
	<select id="search_pt" resultType="com.spring.domain.ProductVO">
		select pt_cd,pt_NM,unit,tax_NM,origin_NM,storage_NM,exp_D,cate_NM
from PRODUCT_TB p left join tax_tb t on p.tax_fk =t.tax_cd
left join origin_tb o on p.origin_fk = o.origin_cd
left join storage_tb s on p.storage_fk = s.storage_cd
left join category_tb c on p.category_fk = c.cate_cd
left join emp_tb e on p.emp_fk = e.emp_cd
		where
		<if test="criteria=='pt_nm'">
			pt_nm Like '%'||#{keyword}||'%'
		</if>
		<if test="criteria=='pt_cd'">
			pt_cd Like '%'||#{keyword}||'%'
		</if>
	</select>
</mapper>